# Ignore virtual environment
venv/

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore SQLite database (si vous utilisez SQLite)
db.sqlite3

# Ignore system-specific files
.DS_Store

# Ignore environment variables
.env
